@use 'vars' as *;

.header {
    padding-top: 50px;
    margin-bottom: 85px;

    .header__top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 85px;

        .header__subtitle {
            font-weight: 700;
            line-height: 150%;
            letter-spacing: 1px;
            color: $gray-900;
            text-transform: uppercase;
            margin-bottom: 8px;
        }

        .header__title {
            font-size: 46px;
            font-weight: 900;
            line-height: 130%;
            font-size: 46px;
        }
    }

    .header__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav {

            .nav__list {
                display: flex;
                column-gap: 62px;
                flex-wrap: wrap;

                .nav__link {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 160%;
                    color: $gray-600;
                    position: relative;

                    &::after {
                        content: attr(data-total-num);
                        position: absolute;
                        top: -5px;
                        right: -12px;
                        font-size: 10px;
                        font-weight: 900;
                        line-height: 150%;
                        color: $gray-600;
                    }

                    &--active {
                        padding: 10px 20px;
                        border: 1px solid $activeMenuItem;
                        border-radius: 4px;
                        color: $activeMenuItem;

                        &::after {
                            top: 5px;
                            right: 10px;
                            color: $activeMenuItem;
                        }
                    }
                }
            }
        }

        .search {
            width: 100%;
            max-width: 315px;
            position: relative;

            .search__field {
                width: 100%;
                height: 44px;
                padding-inline: 16px;
                border: 1px solid $gray-400;
                border-radius: 4px;

                &::placeholder {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 150%;
                    color: $gray-400;
                }
            }

            .search__icon {
                position: absolute;
                right: 16px;
                top: 14px;
            }
        }

        .header__burger-btn {
            display: none;
            flex-direction: column;
            row-gap: 6px;
            justify-content: center;
            align-items: center;
            min-width: 44px;
            height: 44px;
            background: $white;
            border: 1px solid rgba(39, 42, 51, 1);
            border-radius: 8px;
            cursor: pointer;

            span {
                width: 23px;
                height: 2px;
                background: #272A33;
                transition: 0.3s;
            }
        }
    }
}

@media screen and (max-width: 1170px) {
    .header {
        position: sticky;
        top: 0;
        background-color: $white;
        padding-bottom: 50px;
    }

    .header .header__top {
        margin-bottom: 20px;
    }

    .header .header__menu .header__burger-btn {
        display: flex;
        z-index: 100;
    }

    .header .header__menu {
        column-gap: 20px;
        justify-content: flex-end;
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100vh;
        background: $white;
        transition: right 0.3s ease;
        z-index: 99;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
        padding: 172px 20px 20px;
    }

    .header .header__menu .nav .nav__list {
        flex-direction: column;
        row-gap: 20px;
    }

    .nav.active {
        right: 0;
    }

    .header .header__menu .header__burger-btn.active span:nth-child(1) {
        transform: rotate(45deg) translate(6px, 6px);
    }

    .header .header__menu .header__burger-btn.active span:nth-child(2) {
        opacity: 0;
    }

    .header .header__menu .header__burger-btn.active span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }
}

@media screen and (max-width: 421px) {
    .header .header__top .header__title {
        font-size: 32px;
    }
}