$gray-300: rgba(229, 232, 237, 1);
$gray-400: rgba(215, 218, 221, 1); 
$gray-600: rgba(154, 156, 165, 1);
$gray-700: rgba(120, 122, 128, 1);
$gray-900: rgba(30, 33, 44, 1);
$white: rgba(255, 255, 255, 1);
$activeMenuItem: rgba(255, 63, 58, 1);
$priceColour: rgba(255, 66, 66, 1);